// https://colorhunt.co/palette/fcf8e894b49fecb390df7861

$beige: #fcf8e8;
$green: #3d5a47;
$green-active: #577862;
$peach: #ecb390;
$peach-active: #df7861;

:root {
  background-color: $beige;
  color: $green;
}

button {
  color: $beige;
  background: $green;
  
  &:hover {
    background: $green-active;
  }
}
