@use "color";
@use "utils";

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: center;

  &__tab {
    margin: 2em;
    @include utils.underline-hover(color.$green);

    &:hover {
      cursor: pointer;
    }
  }
}

.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em;
}
